doctype html 
html
  head
    title KD Dance Academy
    block scripts
    block style 
  body
    nav#navbar.top 
            ul
                li #[a Home]
                li #[a About]
                li #[a Contacts]
                li #[a Services]
                li #[a Class Info]
    block content
    block foot
        footer 
            | Copyright @ 2021 CodeWithKD.com All Rights Reserved 